.top-nav-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.top-nav-wrap {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

